<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="selenium.signin"></class>
  <class name="selenium.signup"></class>
  <class name="selenium.homepage"></class>
 
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
